<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>String inversion</title>
    <meta charset="UTF-8"/>
</head>

<body>

<form style="text-align: center" th:action="@{/inversion}" method="get">
    <label for="ent_string">Enter a string: </label>
    <br>
    <input name = "ent_string" id = "ent_string">
    <br><br>
    <input type="submit" value="Inverse">

</form>

<form style="text-align: center" th:action="@{/calls}" method="get">
    <br>
    <input type="submit" value="Calls">

</form>

<form style="text-align: center" th:action="@{/stats}" method="get">
    <br>
    <input type="submit" value="Stats">

</form>

</body>

</html>